<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>



<div class="container">

    <h1 align="center">Users:</h1>

    <table class="table">
     <thead>
      <tr>
          <th>Name</th>
          <th rowspan="2">Action</th>
      </tr>
     </thead>

    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.username}">User name</td>
        <td><a href="editUser.html" th:href="@{/admin/user/edit(id=${user.id})}" class="btn btn-primary">Edit</a></td>
        <td><a href="deleteUser.html" th:href="@{'/admin/user/delete/' + ${user.id}}" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
    </table>
<br><br>
<a href="/admin/user/add" class="btn btn-success">Add new user</a>

    <br><br><br><br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log Out" class="btn btn-primary"/>
    </form>
</div>


</body>
</html>